$breakpoint-tablet: 768px;

.enrichment-app {
  padding: 1rem;
  background-color: #F0F8FF !important;
}

//Results Div
.resultsDiv{
  margin: 1rem auto;
  border-top: 2px gray solid;
}

//filter form
.filter-form {
  margin: 2rem auto 3rem auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__search-field.MuiFormControl-root {
    margin: 8px;
    min-width: 120px;

    @media (min-width: $breakpoint-tablet) {
      margin-left: auto;
    }
  }
}

// Need to tweak
.add-form {

  &__field-wrapper {
    margin-bottom: 16px;

    &-column {
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-tablet) {
        flex: 50%;
        display: block;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      display: flex;

      &-column {
        .MuiFormControl-root {
          display: block;
        }

        .MuiInputBase-root {
          width: 90%;
        }
      }
    }
  }

  &__add-button {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
  }
}

.MuiFormLabel-asterisk,
.MuiInputLabel-asterisk{
  color: red;
}

// Pagination
.MuiPagination-root {
  display: flex;
  justify-content: center;
}


.formCard{
  padding: 1rem;
  margin-top: 6px;
}

.email-button.MuiButton-contained {
  margin-left: 16px;
}