$breakpoint-tablet: 768px;

.enrichment-app {
  padding: 1rem;
}

//Results Div
.resultsDiv{
  margin: 1rem auto;
  background-color: #F0F8FF !important;
  padding: 1rem;
}

//filter form
.filter-form {
  margin: 2rem auto 3rem auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__search-field.MuiFormControl-root {
    margin: 8px;
    min-width: 120px;

    @media (min-width: $breakpoint-tablet) {
      margin-left: auto;
    }
  }
}

// Need to tweak
.add-form {
  &__field-wrapper {
    display: flex;

    &-column {
      flex: 50%;

      .MuiFormControl-root {
        display: block;
      }

      .MuiInputBase-root {
        width: 90%;
      }
    }
  }

  &__error {
    color: red;
  }
}

.MuiFormLabel-asterisk,
.MuiInputLabel-asterisk{
  color: red;
}

// Pagination
.MuiPagination-root {
  display: flex;
  justify-content: center;
}
